/*---
title:   Background Mixin
section: Mixin
---

Color scheme background with contrast text color.
*/
@mixin u-background($-cs: a, $-cs-contrast: $-cs) {
  background: map-get($cs, $-cs);
  color: map-get($cs-contrast, $-cs-contrast);
}
